body {
  background-color: #9E1B32;
  font-family: "Roboto", sans-serif;
}

.timer {
  background-color: rgba(255, 255, 255, 0.6);
  width: 800px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
.timer__display {
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 300px; /* Adjust width as needed */
  height: 300px; /* Equal to the width to make it round */
  text-align: center;
  font-size: 100px; /* Adjust font size as needed */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .timer {
    width: 90%; /* Adjust width for smaller screens */
    max-width: 600px; /* Set a maximum width for smaller screens */
  }
  .display {
    width: 55%; /* Adjust width for smaller screens */
    height: 50vw; /* Set height relative to width for responsiveness */
    font-size: 100px; /* Adjust font size for smaller screens */
  }
}
@media (max-width: 760px) {
  .display {
    width: 65%; /* Adjust width for screens around 760px wide */
    max-width: 400px; /* Gradually reduce max-width as screen width increases */
    height: 65vw; /* Set height relative to width for responsiveness */
    font-size: 100px; /* Adjust font size for screens around 760px wide */
  }
}
@media (max-width: 480px) {
  .timer {
    width: 80%; /* Adjust width for even smaller screens */
    max-width: 400px; /* Set a maximum width for even smaller screens */
  }
  .display {
    width: 70%; /* Adjust width for even smaller screens */
    height: 70vw; /* Set height relative to width for responsiveness */
    font-size: 100px; /* Adjust font size for even smaller screens */
  }
}
.button-container {
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.button-container__button {
  background-color: black;
  color: white;
  font-size: 18px;
  padding: 8px 16px;
  border-radius: 0.325rem;
  box-shadow: 0 0 12px 0 #959595;
}

@media (max-width: 768px) {
  #button-container {
    top: 80%; /* Adjust vertical position for smaller screens */
  }
  .custom-button {
    font-size: 16px; /* Adjust font size for smaller screens */
    padding: 6px 12px; /* Adjust padding for smaller screens */
  }
}
@media (max-width: 480px) {
  #button-container {
    top: 85%; /* Adjust vertical position for even smaller screens */
    flex-direction: column; /* Stack buttons vertically */
    gap: 10px; /* Adjust gap between vertically stacked buttons */
  }
  .custom-button {
    font-size: 14px; /* Adjust font size for even smaller screens */
    padding: 4px 10px; /* Adjust padding for even smaller screens */
  }
}
.alert {
  display: none;
  position: fixed;
  width: 300px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  border-radius: 5px;
  text-align: center;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  animation: slideIn 0.5s, fadeOut 0.5s 2.5s forwards;
  align-items: flex-start;
}

@keyframes slideIn {
  from {
    transform: translate(-50%, -60%);
  }
  to {
    transform: translate(-50%, -50%);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@media (max-width: 768px) {
  #alert {
    width: 90%; /* Adjust the width for smaller screens */
    padding: 10px; /* Adjust padding for smaller screens */
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}
@media (max-width: 480px) {
  #alert {
    width: 80%; /* Adjust the width for even smaller screens */
    padding: 8px; /* Adjust padding for even smaller screens */
    font-size: 12px; /* Adjust font size for even smaller screens */
  }
}

/*# sourceMappingURL=app.css.map */
