@media only screen and (max-width: 64rem) {
  .timer__display {
    width: 20rem;
    height: 20rem;
  }
}
@media only screen and (max-width: 48rem) {
  .timer {
    width: 80%;
  }
  .timer__display {
    width: 18.75rem;
    height: 18.75rem;
  }
  .button-container {
    margin-top: 1.25rem;
  }
  .button-container__button {
    font-size: 0.75rem;
  }
}
@media only screen and (max-width: 30rem) {
  .timer {
    width: 60%;
    height: 50%;
  }
  .timer__display {
    width: 12.5rem;
    height: 12.5rem;
    font-size: 4rem;
  }
  .button-container {
    margin-top: 1.25rem;
  }
  .button-container__button {
    font-size: 0.19rem;
  }
  .alert {
    width: 50%;
  }
}
@media only screen and (max-width: 20rem) {
  .timer {
    width: 60%;
    height: 70%;
  }
  .timer__display {
    width: 10rem;
    height: 10rem;
  }
  .button-container {
    flex-direction: column;
    align-items: center;
    margin: 0 0.25rem 1rem;
  }
  .button-container__button {
    font-size: 0.75rem;
  }
  .alert {
    width: 30%;
  }
}
body {
  background-color: #9E1B32;
  font-family: "Roboto", sans-serif;
}

.timer {
  background-color: rgba(255, 255, 255, 0.6);
  width: 50rem;
  height: 31.35rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.625rem;
}
.timer__display {
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 18.75rem;
  height: 18.75rem;
  text-align: center;
  font-size: 6.25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 64rem) {
  .timer__display {
    width: 20rem;
    height: 20rem;
  }
}
@media only screen and (max-width: 48rem) {
  .timer {
    width: 80%;
  }
  .timer__display {
    width: 18.75rem;
    height: 18.75rem;
  }
  .button-container {
    margin-top: 1.25rem;
  }
  .button-container__button {
    font-size: 0.75rem;
  }
}
@media only screen and (max-width: 30rem) {
  .timer {
    width: 60%;
    height: 50%;
  }
  .timer__display {
    width: 12.5rem;
    height: 12.5rem;
    font-size: 4rem;
  }
  .button-container {
    margin-top: 1.25rem;
  }
  .button-container__button {
    font-size: 0.19rem;
  }
  .alert {
    width: 50%;
  }
}
@media only screen and (max-width: 20rem) {
  .timer {
    width: 60%;
    height: 70%;
  }
  .timer__display {
    width: 10rem;
    height: 10rem;
  }
  .button-container {
    flex-direction: column;
    align-items: center;
    margin: 0 0.25rem 1rem;
  }
  .button-container__button {
    font-size: 0.75rem;
  }
  .alert {
    width: 30%;
  }
}
.button-container {
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
}
.button-container__button {
  background-color: black;
  color: white;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.325rem;
  box-shadow: 0 0 0.75rem #959595;
}
.button-container__button:hover {
  transform: translate(0, -0.18px);
  background-color: #333;
}

@media only screen and (max-width: 64rem) {
  .timer__display {
    width: 20rem;
    height: 20rem;
  }
}
@media only screen and (max-width: 48rem) {
  .timer {
    width: 80%;
  }
  .timer__display {
    width: 18.75rem;
    height: 18.75rem;
  }
  .button-container {
    margin-top: 1.25rem;
  }
  .button-container__button {
    font-size: 0.75rem;
  }
}
@media only screen and (max-width: 30rem) {
  .timer {
    width: 60%;
    height: 50%;
  }
  .timer__display {
    width: 12.5rem;
    height: 12.5rem;
    font-size: 4rem;
  }
  .button-container {
    margin-top: 1.25rem;
  }
  .button-container__button {
    font-size: 0.19rem;
  }
  .alert {
    width: 50%;
  }
}
@media only screen and (max-width: 20rem) {
  .timer {
    width: 60%;
    height: 70%;
  }
  .timer__display {
    width: 10rem;
    height: 10rem;
  }
  .button-container {
    flex-direction: column;
    align-items: center;
    margin: 0 0.25rem 1rem;
  }
  .button-container__button {
    font-size: 0.75rem;
  }
  .alert {
    width: 30%;
  }
}
.alert {
  display: none;
  position: fixed;
  width: 18.75rem;
  padding: 1.25rem;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  border-radius: 0.3rem;
  text-align: center;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  animation: slideIn 0.5s, fadeOut 0.5s 2.5s forwards;
  align-items: flex-start;
}

@keyframes slideIn {
  from {
    transform: translate(-50%, -60%);
  }
  to {
    transform: translate(-50%, -50%);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@media only screen and (max-width: 64rem) {
  .timer__display {
    width: 20rem;
    height: 20rem;
  }
}
@media only screen and (max-width: 48rem) {
  .timer {
    width: 80%;
  }
  .timer__display {
    width: 18.75rem;
    height: 18.75rem;
  }
  .button-container {
    margin-top: 1.25rem;
  }
  .button-container__button {
    font-size: 0.75rem;
  }
}
@media only screen and (max-width: 30rem) {
  .timer {
    width: 60%;
    height: 50%;
  }
  .timer__display {
    width: 12.5rem;
    height: 12.5rem;
    font-size: 4rem;
  }
  .button-container {
    margin-top: 1.25rem;
  }
  .button-container__button {
    font-size: 0.19rem;
  }
  .alert {
    width: 50%;
  }
}
@media only screen and (max-width: 20rem) {
  .timer {
    width: 60%;
    height: 70%;
  }
  .timer__display {
    width: 10rem;
    height: 10rem;
  }
  .button-container {
    flex-direction: column;
    align-items: center;
    margin: 0 0.25rem 1rem;
  }
  .button-container__button {
    font-size: 0.75rem;
  }
  .alert {
    width: 30%;
  }
}

/*# sourceMappingURL=app.css.map */
