@import 'responsive';

.alert {

  display: none;
  position: fixed;
  width: 300px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  border-radius: 5px;
  text-align: center;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  animation: slideIn 0.5s, fadeOut 0.5s 2.5s forwards;
  align-items: flex-start;
}

@keyframes slideIn {
  from {
    transform: translate(-50%, -60%);
  }
  to {
    transform: translate(-50%, -50%);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
