@import 'responsive';

.alert {
  align-items: flex-start;
  animation: fadeOut 0.5s 2.5s forwards, slideIn 0.5s;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: .3rem;
  color: black;
  display: none;
  left: 50%;
  padding: 1.25rem;
  position: fixed;
  text-align: center;
  top: 10%;
  transform: translate(-50%, -50%);
  width: 18.75rem;
}

@keyframes slideIn {
  from {
    transform: translate(-50%, -60%);
  }
  to {
    transform: translate(-50%, -50%);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
