@import "responsive";

.button-container {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  left: 50%;
  position: absolute;
  top: 66%;
  transform: translateX(-50%);

  &__button {
    background-color: black;
    border-radius: .325rem;
    box-shadow: 0 0 0.75rem #959595;
    color: #ffffff;
    font-size: 1.1rem;
    padding: .5rem 1rem;

    &:hover {
      background-color: #333;
      transform: translate(0, -.18px);
    }
  }
}