@import "responsive";

.button-container {
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  gap: 1.25rem;

  &__button {
    background-color: black;
    color: white;
    font-size: 1.1rem;
    padding: .5rem 1rem;
    border-radius: .325rem;
    box-shadow: 0 0 0.75rem #959595;

    &:hover {
      transform: translate(0, -.18px);
      background-color: #333;
    }
  }
}