$desktop-screen: 64rem;
$tablet-screen: 48rem;
$mobile-screen: 30rem;
$mobile-screen-small: 20rem;

@media only screen and (max-width: #{$desktop-screen}) {

  .timer__display {
    height: 20rem;
    width: 20rem;
  }
}

@media only screen and (max-width: #{$tablet-screen}) {
  .timer {
    width: 80%;

    &__display {

    }
  }
  .timer__display {
    height: 18.75rem;
    width: 18.75rem;
  }
  .button-container {
    margin-top: 1.25rem;
  }
  .button-container__button {
    font-size: .75rem;
  }
}

@media only screen and (max-width: #{$mobile-screen}) {
  .timer {
    height: 50%;
    width: 60%;
  }
  .timer__display {
    font-size: 4rem;
    height: 12.5rem;
    width: 12.5rem;
  }
  .button-container {
    margin-top: 1.25rem;
  }
  .button-container__button {
    font-size: .19rem;
  }
  .alert {
    width: 50%;
  }
}

@media only screen and (max-width: #{$mobile-screen-small}) {
  .timer {
    height: 70%;
    width: 60%;
  }
  .timer__display {
    height: 10rem;
    width: 10rem;
  }
  .button-container {
    align-items: center;
    flex-direction: column;
    margin: 0 0.25rem 1rem;
  }
  .button-container__button {
    font-size: .75rem;
  }
  .alert {
    width: 30%;
  }
}


