$desktop-screen: 64rem;
$tablet-screen: 48rem;
$mobile-screen: 30rem;
$mobile-screen-small: 20rem;

@media only screen and (max-width: #{$desktop-screen}) {
  .timer {

  }
  .timer__display {

    width: 20rem;
    height: 20rem;
  }
  .button-container {
    //
  }
  .button-container__button {
  }
  .alert {
    //
  }
}

@media only screen and (max-width: #{$tablet-screen}) {
  .timer {
    width: 80%;

  }
  .timer__display {
    width: 18.75rem;
    height: 18.75rem;
  }
  .button-container {
    margin-top: 1.25rem;
  }
  .button-container__button {
    font-size: 0.75rem;
  }
  .alert {
    //
  }
}

@media only screen and (max-width: #{$mobile-screen}) {
  .timer {
    width: 60%;
    height: 50%;
  }
  .timer__display {
    width: 12.5rem;
    height: 12.5rem;
    font-size: 60px
  }
  .button-container {
    margin-top: 1.25rem;
  }
  .button-container__button {
    font-size: 0.19rem;
  }
  .alert {
    width: 50%;
  }
}

@media only screen and (max-width: #{$mobile-screen-small}) {
  .timer {
    width: 60%;
    height: 70%;

  }
  .timer__display {
    width: 10rem;
    height: 10rem;
  }
  .button-container {
    flex-direction: column;
    align-items: center;
    margin: 0 0.25rem 1rem;
  }
  .button-container__button {
    font-size: 0.75rem;

  }
  .alert {
    width: 30%;
  }
}


