$desktop-screen: 1024px;
$tablet-screen: 768px;
$mobile-screen: 480px;
$mobile-screen-small: 320px;

@media only screen and (max-width: #{$desktop-screen}) {
  .timer {
    background-color: rgba(255, 255, 255, .6);
  }
  .timer__display {

    width: 320px;
    height: 320px;
  }
  .button-container {
    //
  }
  .button-container__button {
    //
  }
  .alert {
    //
  }
}

@media only screen and (max-width: #{$tablet-screen}) {
  .timer {
    width: 80%;
    background-color: blue;
  }
  .timer__display {
    width: 300px;
    height: 300px;
  }
  .button-container {
    margin-top: 20px;
  }
  .button-container__button {
    font-size: 12px;
  }
  .alert {
    //
  }
}

@media only screen and (max-width: #{$mobile-screen}) {
  .timer {
    background-color: yellow;
    width: 60%;
    height: 50%;
  }
  .timer__display {
    width: 200px;
    height: 200px;
    font-size: 60px
  }
  .button-container {
    margin-top: 20px;
  }
  .button-container__button {
    font-size: 3px;
  }
  .alert {
    width: 50%;
  }
  }


