.timer {
  align-items: center;
  background-color: rgba(255, 255, 255, .6);
  display: flex;
  height: 31.35rem;
  justify-content: center;
  padding: .625rem;
  width: 50rem;

  &__display {
    align-items: center;
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    display: flex;
    font-size: 6.25rem;
    height: 18.75rem;
    justify-content: center;
    text-align: center;
    width: 18.75rem;
  }
}